@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Kameron','Noto Sans JP', sans-serif;
}

.font-sm, .sec-three-caption {
  font-size: 14px;
}

.font-md, .sec-three-title {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg, .sec-three-service {
  font-size: 25px;
}

.mb-sm, .sec-three-item {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pt-sm, .sec-three-bg {
  padding-top: 32px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-md, .sec-three-bg {
  padding-bottom: 32px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.sec-three-bg {
  background-color: #41B6E6;
}

.sec-three {
  text-align: center;
}

.sec-three-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-three-item {
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 6px 5px rgba(255, 255, 255, 0.4);
          box-shadow: 2px 6px 5px rgba(255, 255, 255, 0.4);
}

.sec-three-service {
  font-weight: 600;
  margin-bottom: 0;
}

.sec-three-title {
  color: #001871;
}

.sec-three-thumb {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sec-three-thumb img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.content-width, .sec-three {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .sec-three-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec-three-item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm, .sec-three-caption {
    font-size: 16px;
  }
  .font-md, .sec-three-title {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg, .sec-three-service {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pt-sm, .sec-three-bg {
    padding-top: 48px !important;
  }
  .pb-md, .sec-three-bg {
    padding-bottom: 48px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-webkit-mindevice-pixel-ratio: 2) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */